.admin-dashboard {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 100px;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.stats-cards {
  display: flex;
  gap: 30px;
  width: 100%; 
  justify-content: center;
  align-items: center; 
  margin: 0 auto; 
  flex-wrap: wrap; 
}

.stat-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.stat-card h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.stat-card p {
  margin: 10px 0 0;
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
}

.stat-card:nth-child(1) {
  background-color: #e8f5e9; 
}

.stat-card:nth-child(2) {
  background-color: #fff3e0;
}

.stat-card:nth-child(3) {
  background-color: #e3f2fd; 
}

.charts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.pie-chart-container,
.bar-chart-container {
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pie-chart-container {
  margin-right: 20px;
  min-width: 400px;
}

.pie-chart-container h3,
.bar-chart-container h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 10px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}