/* Sidebar container styling */
.sidebar-container {
    margin-top: 100px;
    width: 250px;
    height: 100vh;
    background-color: #4a90b1;  
    color: black;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  
  .sidebar-items {
    flex-grow: 1;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .sidebar-icon {
    margin-right: 20px; 
    font-size: 1.3rem; 
  }
  
  
  .sidebar-item:hover {
    background-color: #2f7a97;
    color: white;
  }
  
  .sidebar-item.active {
    background-color: #236178;
    font-weight: bold;
    color: white;
  }

  
.sidebar-logout {
  padding: 20px;
}

/* Logout Button */
.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  background-image: linear-gradient(92.83deg, #2b7a9c 0, #be3e24 100%); 
  color: white;
  border: none;
  margin-top: 130px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Hover Effect */
.logout-button:hover {
  background-color: #89312b; 
  transform: scale(1.02); 
}

.logout-button:active {
  transform: scale(0.98); 
}

.logout-icon {
  margin-right: 8px;
  font-size: 18px;
}
